        .logo{
			float: left;
			margin-left: 10px;
			margin-top: 10px;
		}
		.phone{
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			margin-right: 15px;
			margin-top: 0px;
			font-size: 150%;
		}
		.menu{
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			margin-right: 15px;
			margin-top: 25px;
			flex-grow: 1;
			font-size: 110%;
		}
		.menu ul{
			display: flex;
			flex-flow: row nowrap;
			margin: 0;
			padding: 0;
			list-style: none;
			
		}
		.menu li{
			margin-right: 20px;

			
		}
		.menu li:last-child{
			margin-right: 0px;

		}
		.after::after {
			content: "";
		}
		* {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}
		.button {
			position: fixed;
			bottom: 50px;
			left: 10px;
		}
		.clearfix::after {
			display: block;
			width: 100%;
			content: "";
			clear: both;

		}
		.lorem{
			font-size: 150%;
			text-align: justify;
			color: blue;
			font-family: roboto, lato, sans-serif;
		}
		a {
			color: black;
			font-family: helvetica;
			text-decoration: none;
		}
		a:hover {
			color:white;
		}
		.phone_link {
			color: white;
			font-family: helvetica;
			text-decoration: none;
		}

		.banner{
			background-image: url(../images/banner.png);
			background-repeat: no-repeat;
			max-width: 1000px;
			margin: auto;
			box-sizing: content-box;
			display: flex;
			flex-direction: column;
			padding-top: 20%;
			padding-bottom: 8%;

		}
		.banner_background {
			background-color: #cbd4e6;
			max-width: 2000px;
		}
		.banner_info, .banner_number, .banner_input {
			text-align: right;
		}
		.clearfix {
			background: #43b1d2;
		}
		.container, .tabs {
			max-width: 1000px;
			margin: auto;
		}
		.advantages{
			display: flex;
			flex-direction: row;
			max-width: 1000px;
			margin: auto;
		}
		.treatment, .emergency, .medical, .qualified{
			width: 25%;
			text-align: center;
		}
		.treatment{
			background-color: #43b1d2;
		}
		.emergency{
			background-color: #3fb6c6;
		}
		.medical{
			background-color: #3cbbbb;
		}
		.qualified{
			background-color: #37c3a8;
		}
		.tabs{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
		}
		.mrt {
			padding: 10px;
			border-top: 1px solid;
			border-left: 1px solid;
			border-right: 1px solid;
			border-bottom: none;
		}
		.kt {
			padding: 10px;
			border-bottom: 1px solid;
		}
		.di {
			padding: 10px;
			border-bottom: 1px solid;
			flex-grow:2;
		}
		